@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');
       
body,html{
    font-family: 'Avenir LT Std', sans-serif !important;   
    background-image: url('bg.png'); 
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100%;
    position: absolute; 
    z-index: -1;
}

p{
    margin: 0px !important;
}

.linkBtn{
    padding: 20px; background-color: #3D3B3C; color: white;
    text-decoration: none;
    width: 40%;
    text-align: center;
    margin: 4px 0px;
    max-width: 700px;
}

.linkBtn:hover{
    border: 2.5px solid #3D3B3C;
    background-color: white;
    color: #3D3B3C;
    padding: 19px;
}

